
<html>
    <head>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <style>
            body { 
                margin: 10px; 
            }
            button, .button {
                margin: 5px;
                padding: 0px 33px;
                background: #cef;
            }
        </style>
    </head>
    <body>
        <h1>whois search</h1>
        <div id="whoisSearchApp" />
        <script src="bundle.js"></script> 
    </body>
</html>
